.content {
  padding: 30px;
}


h3 {
  color: #0074e0;
  margin-bottom: 15px;
}




.status.success {
  color: green;
  font-weight: bold;
}

.status.pending {
  color: orange;
  font-weight: bold;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup-box {
  background: #ffffff;
  padding: 25px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 5px 18px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.popup-box h3 {
  text-align: center;
  color: #0074e0;
  margin-bottom: 10px;
}


.popup-box label {
  font-weight: bold;
  color: #333;
  margin-top: 6px;
}

.popup-box input,
.popup-box select {
  padding: 10px;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid #c8d6e5;
  outline: none;
}

.popup-actions {
  display: flex;
  gap: 10px;      
}
