.container {
    min-height: 80vh;            
    display: flex;
    flex-direction: column;
    justify-content: center;      
    align-items: center;            
    text-align: center;  
    padding: 20px;
}


.title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #1d1d1d;
}


.login-box {
    background: #ffffff;
    width: 360px;
    padding: 28px 32px;
    border-radius: 14px;
    box-shadow: 0 8px 28px rgba(0,0,0,0.1);
    text-align: left;
    border: 1px solid #f0f0f0;
}

label {
    font-size: 14px;
    font-weight: 500;
    color: #444;
}

.input-field {
    width: 100%;
    margin: 7px 0 18px 0;
    padding: 11px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 15px;
    transition: all 0.3s ease;
}

.input-field:focus {
    border-color: #4E73DF;
    outline: none;
    box-shadow: 0 0 6px rgba(78, 115, 223, 0.4);
}

.checkbox-row {
    display: flex;
    align-items: center;
    margin-bottom: 22px;
}

.checkbox-row label {
    margin-left: 5px;
    font-size: 14px;
    color: #444;
}


.login-btn {
    width: 100%;
    padding: 12px;
    background: #4E73DF;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s ease;
}

.login-btn:hover {
    background: #365adf;
    box-shadow: 0 4px 12px rgba(78, 115, 223, 0.3);
}

.signup-text {
    text-align: center;
    margin-top: 18px;
    font-size: 14px;
    color: #555;
}

.signup-link {
    color: #4E73DF;
    cursor: pointer;
    font-weight: 600;
}

.signup-link:hover {
    text-decoration: underline;
    color: #4E73DF;
}
