@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family: "Poppins", sans-serif;
}



.data-table {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 3px 10px rgba(0,0,0,.1);
}

.data-table th {
  background: #0074e0;
  color: white;
  padding: 14px;
  text-align: left;
}

.data-table td {
  padding: 14px;
  border-bottom: 1px solid #dce9f9;
}


.data-table td:last-child {
  display: flex;
  gap: 10px;
}.data-table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 3px 10px rgba(0,0,0,.1);
}

.data-table th {
  background: #0074e0;
  color: white;
  padding: 14px;
  text-align: left;
}

.data-table td {
  padding: 14px;
  border-bottom: 1px solid #dce9f9;
}


.data-table td:last-child {
  display: flex;
  gap: 10px;
}





button {
  font-size: 14px;
  font-weight: 600;
  border-radius: 6px;
  padding: 10px 18px;
  cursor: pointer;
  flex: 1;               
  text-align: center;
  transition: all 0.3s ease;
  border: none;
  box-shadow: 0 3px 6px rgba(0,0,0,0.12);
}


.add-btn {
  background: #005bb7;
  color: #fff;
}

.add-btn:hover {
  background: #004494;
  box-shadow: 0 5px 12px rgba(0,0,0,0.15);
}


.cancel-btn {
  background: #d9534f;
  color: #fff;
}

.cancel-btn:hover {
  background: #b52b28;
  box-shadow: 0 5px 12px rgba(0,0,0,0.15);
}


.view-btn {
  background: #0074e0;
  color: #fff;
}

.view-btn:hover {
  background: #005bb7;
  box-shadow: 0 5px 12px rgba(0,0,0,0.15);
}


.delete-btn {
  background: #d9534f;
  color: #fff;
}

.delete-btn:hover {
  background: #b52b28;
  box-shadow: 0 5px 12px rgba(0,0,0,0.15);
}


.error-msg {
  margin-top: 10px;
  color: red;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}